.btn-del{background-color: darkred;color: white;border:1px solid  darkred;border-radius:3px;box-shadow: 0px 0px 0px;}
.btn-edit{background-color:blueviolet;color: white;border:1px solid blueviolet;border-radius:3px;box-shadow: 0px 0px 0px;}
.btn-del:hover,.btn-edit:hover{outline: none;}
