body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{width:7px;}
::-webkit-scrollbar-track{background:rgb(201,201,201)}
::-webkit-scrollbar-thumb { background:rgb(150,150,150);}
::-webkit-scrollbar-thumb:hover { background:rgb(130,130,130); }