.login-form img{max-width:260px;height: auto;}
.login-form form{width:500px}
.login-form>div{height:100vh;display: flex;justify-content: center;align-items: center;}
.login-form>div:first-child{background-color: rgb(24,144,255);}
@media screen and (max-width: 1050px)
{
    .login-form form{width:92%;}

}
@media screen and (max-width:768px)
{
    .login-form form{width:350px;}
}
@media screen and (max-width:410px)
{
    .login-form form{width:95%;}

}