.login-form{display: flex;justify-content: center;height:100vh;background-color:rgb(237, 237, 237)}
.login-form img{width:270px;height: auto;}
.login-form>div{display: flex;justify-content: center;align-items: center;height:100vh;}