.panel{min-height: 100vh;max-height: 100vh;}
.panel .logo{display: flex;justify-content: center;}
.panel .logo>img{width:88%; height: auto;}
.panel .content{overflow-y: auto;}
.panel .icon{font-size:19px;}
/* button */
.button{background-color: rgb(24,144,255);border-color: rgb(24,144,255);color: white;display: flex;align-items: center;border-radius: 0;}
.main-clr{color:rgb(24,144,255)}
.main-bg{background-color:#f2f2f2}

button{display: flex;align-items: center;}
