.settings{
    position: fixed;
     top:0;right:0px;min-height:100vh;max-height:100vh;display:flex;
     /* background: rgba(0, 0, 0, 0.9); */
     z-index: 100;transform: translateX(200%);transition-property:all;transition-timing-function:linear;transition-duration:0.5s;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
   
 }
 .settings>div{display: flex;flex-direction: column;align-items: center;width:400px;}
 .settings>div>div{width:95%;}
.settings>div>div:first-child{height:30px;display: flex;justify-content:flex-end;align-items: center;color:black;font-weight: bolder;
                              display: flex;align-items: center;justify-content: space-between;}
.settings>div>div:first-child>span{cursor:pointer;}
 .settings>div:first-child{max-height: 100vh;overflow-y: auto;
     transition-property:all;transition-timing-function:linear;transition-duration:2s}
 .settings>div{background-color: white;}
 .settings-show{transform: translateX(0);}
 /*  */
 .alert-box{position: fixed;top:0px;right:0;transform: translateX(200%);transition-property:all;transition-timing-function:linear;transition-duration:0.5s;} 
.alert-box>.alert{ background: #008269;color:white;border-radius: 0;display: flex;}
.alert-box2{transform: translateX(0);}


